version: 0.0
Resources:
  - Ex2Function:
      Type: AWS::Lambda::Function
      Properties:
        Name: %LAMBDAFUNCTIONNAME%
        Alias: %ALIASNAME%
        CurrentVersion: %ALIASNAMEVERSION%
        TargetVersion: %TARGETVERSION%
